<div class="modal">
  <ion-header-bar>
    <h1 class="title">Money money money</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="add()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">For What?</span>
          <input type="text" ng-model="come.title" ng-class="hasErrorTitle">
        </label>
        <label class="item item-input">
          <span class="input-label">Sum</span>
          <input type="text" ng-model="come.sum" ng-class="hasErrorSum">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">
            <span ng-hide="come.id">Add</span>
            <span ng-show="come.id">Update</span>
          </button>
        </label>
      </div>
    </form>
  </ion-content>
</div>
