<ion-view title="Income list :)">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="income in incomes">
        {{income.title}} = {{income.sum}} Lt.
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
