<ion-view title="Options">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="row">
            <div class="col col-75 col-center">Delete all entries?</div>
            <div class="col">
                <button class="button button-assertive" ng-click="deleteAll()">Delete!</button>
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                <button class="button" ng-click="saveToFile()">Save to File</button>
            </div>
            <div class="col">
            {{res}}
            </div>
        </div>
    </ion-content>
</ion-view>
