<ion-view title="Outcome list :(" class="outcomeView">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-plus" ng-click="showAdd()">Add</button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="item-icon-right" ng-repeat="outcome in outcomes" on-hold="edit(outcome)">
                <div class="row">
                    <div class="col col-50">
                        {{outcome.title}}
                    </div>
                    <div class="col">
                        = -{{outcome.sum}} Lt.
                    </div>
                    <div class="col datetime">
                      <div>{{outcome.id|moment:'MM-DD'}}</div>
                      <div>{{outcome.id|moment:'HH:mm'}}</div>                      
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="right" class="bar-stable">
        <h2 class="title">&Sigma; -{{total}} Lt.</h2>
    </ion-footer-bar>

</ion-view>
